﻿body {
    /*font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, sans-serif;*/
    background-color: #f5f5f5;
    position: relative;
}



.validation-summary-errors, .field-validation-error {
    color: #9a0300;
}

#HeightAdjust {
    padding-top: 70px;
}
.nav-header {
    border: none;
    border-radius: 0;
    background-color: #3678ab;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

    .nav-header a {
        color: #fff;
        transition: all .2s ease;
    }

    .nav-header .nav > li > a:hover,
    .nav-header .nav > li > a:focus {
        text-decoration: none;
        background-color: #295e88;
    }

    .nav-header .form-control {
        background-color: transparent;
        color: #fff;
        outline: none;
        border-radius: 50px;
    }

    .nav-header .search-btn {
        background-color: #fff;
        color: #3678ab;
        border-radius: 50px;
        box-shadow: none;
        outline: none;
        padding: 0;
        height: 32px;
        width: 32px;
        margin-left: 5px;
    }

input {
    border-radius: 0px;
}

.main-title {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
    font-weight: 700;
    color: #555;
    font-size: 26px;
    border-left: 4px solid #555;
    line-height: 0;
}


/*Navbar*/
#link-submitpaper {
    color: #6afd50;
    font-weight: 500;
}

    #link-submitpaper .fa {
        font-size: 10px;
        margin-left: 4px;
    }

#link-acceptpapter, #link-reivewpapter {
    color: #6afd50;
    font-weight: 500;
}
/*Home Controller*/
#home-cover {
    display: block;
    width: 100%;
    height: 69vh;
    background-color: #14507b;
    background-image: url('../img/background-asset.png');
    background-size: 209px;
    margin-top: -20px;
    color: #fff;
    overflow: hidden;
}

    #home-cover .container {
        margin-top: 20vh;
    }

    #home-cover h1 {
        color: white;
        /*font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, sans-serif;*/
        font-size: 38px;
        font-weight: 600;
        letter-spacing: 0px;
    }

    #home-cover h3 {
        color: white;
        font-size: 24px;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: 16px;
        line-height: 27px;
        width: 88%;
        margin: 11px auto 13px auto;
    }

    #home-cover h4 {
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin-top: 11px;
        margin-bottom: 16px;
        line-height: 27px;
        width: 88%;
        margin: 11px auto 13px auto;
    }

    #home-cover .call-to-action {
        display: block;
        width: 100%;
        margin-top: 50px;
    }

        #home-cover .call-to-action a {
            font-size: 28px;
            width: 330px;
            text-align: center;
            font-weight: 700;
            display: block;
            margin: 0 auto;
            background-color: #58b558;
            border: 1px solid #479a47;
            border-radius: 0px;
        }


/*HOME/About*/
.circle {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
}

.serivce {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    display: block;
    margin: 20px auto;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 5px 11px 1px #ccc;
}

    .serivce i {
        font-size: 33px;
        color: #3678ab;
    }

    .serivce h2 {
        font-size: 23px;
        font-weight: bold;
    }

    .serivce p {
        margin-top: 12px;
        letter-spacing: .3px;
        font-size: 14px;
    }

    .serivce span {
        background-color: #3678ab;
        color: #fff;
        padding: 3px 10px;
        display: inline-block;
        border-radius: 25px;
        margin: 0 0 3px 0;
    }
/*HOME/CATEGORIES*/
.category-holder {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 1px 2px 9px 2px #dcdcdc;
}

    .category-holder img {
        padding: 0 30px;
    }

    .category-holder h3 {
        text-align: center;
        font-weight: bold;
    }

    .category-holder h4 {
        text-align: center;
        margin: 0;
        font-size: 15px;
        color: #666;
        /*display: inline-block;*/
        padding: 0 30px;
        margin-bottom: 15px;
    }

    .category-holder a {
        background-color: #3678ab;
        color: #fff;
        display: block;
        width: 150px;
        text-align: center;
        margin: 5px auto 0 auto;
        padding: 9px 0;
        border-radius: 50px;
        border: 1px solid #3678ab;
        transition: all .2s ease;
        text-decoration: none;
    }

        .category-holder a:hover {
            background-color: transparent;
            color: #3678ab;
        }

    .category-holder h2 {
        margin: 0 0 6px 0;
        font-size: 23px;
        font-weight: bold;
    }

    .category-holder p {
        letter-spacing: .3px;
        font-size: 16px;
        color: #777;
        margin-bottom: 15px;
    }
/*REGISTER PAGE*/
#register h1 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

#register form {
    background-color: #3678ab;
    padding: 30px;
    width: 450px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

#register .form-group {
    height: 75px;
    margin: 0px;
}

#register .form-control {
    background-color: #f5f5f5;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: none;
    outline: none;
    color: #000;
}

#register .form-group label {
    color: #fff;
}

#register input[type=submit] {
    display: block;
    margin: 10px auto;
    width: 100%;
    font-size: 18px;
    border-radius: 50px;
    background-color: #3678ab;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
}

.track-paper {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 12px;
    background-color: #e7e7e7;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    height: 93px;
    margin-top: 4px;
    text-decoration: none;
}



    .track-paper:hover {
        text-decoration: none;
        background-color: rgba(98, 163, 219, 0.2);
    }

    .track-paper.active {
        text-decoration: none;
        /*background-color: rgba(98, 163, 219, 0.2);*/
        background-color: #3678ab;
        color: #fff;
        text-decoration: none;
    }

.track-comment-list {
    background-color: #e7e7e7;
    /*min-height: 80vh;*/
    border-radius: 5px;
    padding: 22px;
}

.track-comment {
    display: block;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    padding: 25px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 1px 2px 5px 2px #ccc;
}

    .track-comment img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .track-comment h2 {
        font-size: 21px;
        font-weight: bold;
        letter-spacing: .3px;
        margin-top: 0;
    }

    .track-comment p {
        color: #777;
        font-size: 16px;
        letter-spacing: .3px;
    }
/*---------------*/
.track-system-message {
    padding: 10px;
    /*border-bottom: 1px solid #f7f7f7;*/
    color: #3678ab;
    font-weight: 600;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 15px;
    box-shadow: 2px 4px 8px 1px #ccc;
}

.track-review {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 15px;
    box-shadow: 2px 4px 8px 1px #ccc;
    /*border-bottom: 1px solid #f7f7f7;*/
}

    .track-review img {
        width: 100px;
        height: 100px;
    }

.review-form {
    margin-top: 20px;
    display: block;
    padding: 0 15px;
}

    .review-form .btn {
        margin-top: 10px;
        background-color: #3678ab;
        color: #fff;
        padding: 5px 40px;
    }

    .review-form label {
        margin-top: 10px;
    }

.footer {
    padding-top: 16px;
    color: #000;
    display: block;
    background-color: #f7f7f7;
    margin-top: 20px;
}


.auth-title {
    margin-bottom: 50px;
}

    .auth-title h1 {
        color: #3678ab;
        font-weight: bold;
    }

    .auth-title h4 {
        color: #555;
    }

.auth-block {
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 4px 11px 2px #dcdcdc;
    padding: 25px;
}

    .auth-block .img-container {
        max-width: 140px;
        max-height: 142px;
        overflow: hidden;
    }

    .auth-block h1 {
        color: #555;
        margin: 0;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5px;
    }

    .auth-block p {
        color: #999;
    }

    .auth-block h4 {
        color: #999;
    }

.review-btn {
    background-color: #3678ab;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
    border: 1px solid #3678ab;
    transition: all .2s ease;
    text-decoration: none;
}

    .review-btn:hover {
        background-color: #fff;
        color: #3678ab;
        text-decoration: none;
    }

.footer {
    padding: 50px 0;
    border-top: 1px solid #ccc;
}

    .footer .foot-title {
        color: #333;
        font-weight: bold;
        margin-bottom: 22px;
    }

.foot-link {
    display: block;
    color: #3678ab;
    text-decoration: none;
    padding: 2px 0;
}

    .foot-link:hover {
        text-decoration: none;
    }

.search-paper {
}

    .search-paper .search-title {
        border-left: 3px solid #555;
        padding-left: 5px;
        font-size: 20px;
        font-weight: bold;
    }

    .search-paper .search-item {
        color: #3678ab;
        border: 1px solid #3678ab;
        padding: 3px 10px;
        margin: 4px 1px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 15px;
        display: inline-block;
        text-decoration: none;
        transition: all .2s ease;
    }

        .search-paper .search-item:hover,
        .search-paper .search-item.active {
            background-color: #3678ab;
            color: #fff;
        }

.paper-block {
    background-color: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 25px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 11px 1px #dcdcdc;
    border-radius: 5px;
}

    .paper-block h1 {
        margin: 0;
        font-size: 21px;
        font-weight: bold;
        letter-spacing: .3px;
        color: #555;
    }

    .paper-block h4 {
        color: #999;
        font-size: 17px;
    }

    .paper-block p {
        letter-spacing: .3px;
        color: #666;
        font-size: 15px;
    }

    .paper-block .see-more-btn {
        margin-left: 5px;
    }

.download-btn {
    background-color: #3678ab;
    color: #fff;
    border: 1px solid #3678ab;
    padding: 14px 30px;
    border-radius: 50px;
    position: relative;
    padding-right: 55px;
    margin-top: 10px;
    text-decoration: none;
}

    .download-btn span {
        background-color: #255a84;
        min-width: 35px;
        min-height: 35px;
        padding: 8px 0;
        display: inline-block;
        text-align: center;
        border-radius: 50px;
        position: absolute;
        right: 8px;
        top: 6px;
    }

    .download-btn:hover {
        text-decoration: none;
        color: #fff;
    }

.profile {
}

    .profile .img-container {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .profile h2 {
        font-weight: bold;
        font-size: 22px;
        text-align: center;
    }

    .profile h5 {
        color: #666;
        font-size: 16px;
        text-align: center;
    }

.profile-info {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0px 2px 11px 1px #dcdcdc;
    border-radius: 5px;
}

.submit-title {
    border-left: 3px solid #555;
    padding-left: 5px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 30px;
}

.swMain {
    margin-bottom: 50px !important;
}

    .swMain,
    .swMain .stepContainer div.content {
        width: 100% !important;
    }

        .swMain .stepContainer div.content {
            padding: 30px !important;
            background-color: #fff !important;
            height: inherit !important;
        }

        .swMain ul.anchor {
            width: 100% !important;
        }

            .swMain ul.anchor li {
                width: 25% !important;
            }

                .swMain ul.anchor li a {
                    width: 100% !important;
                }

                    .swMain ul.anchor li a.disabled {
                        background-color: #fff !important;
                    }

        .swMain div.actionBar {
            background-color: #fff !important;
        }

        .swMain .stepContainer div.content .form-group {
            margin-bottom: 15px;
            display: inline-block;
            width: 100%;
        }

        .swMain .stepContainer div.content .form-control {
            box-shadow: none;
            outline: none;
        }

        .swMain .stepContainer {
            height: auto !important;
            min-height: 315px !important;
        }

        .swMain div.actionBar {
            margin: 0 !important;
            border: 1px solid #CCC !important;
            border-top: none !important;
            border-radius: 0 0 5px 5px !important;
        }

#step-4 {
    min-height: 318px;
}

.pay-block {
    background-color: #fff;
    padding: 25px;
    width: 50%;
    margin: 30px auto;
    box-shadow: 1px 4px 9px 2px #e0e0e0;
    border-radius: 5px;
}

.upload {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
}

    .upload input {
        width: 80%;
        display: inline-block;
        padding: 5px 7px;
    }

    .upload .btn {
        width: 19%;
        padding: 5px 0;
    }


.paper-wrap {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 6px 12px 3px #ccc;
}

    .paper-wrap h1 {
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: .3px;
        border-left: 5px solid #3678ab;
        padding-left: 8px;
        margin-bottom: 20px;
    }

    .paper-wrap h4 {
        font-size: 15px;
        margin: 5px 0;
        letter-spacing: .3px;
    }

    .paper-wrap .header {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .paper-wrap .paper-title {
        position: relative;
    }

.paper-download-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    margin-top: 0;
}

.paper-wrap h3 {
    font-weight: bold;
    font-size: 18px;
    color: #555;
}

.paper-wrap p {
    margin-bottom: 40px;
    letter-spacing: .3px;
    font-size: 15px;
    color: #666;
}

.page-block {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 8px 1px #ccc;
}

    .page-block h2 {
        font-weight: bold;
        font-size: 18px;
        color: #3678ab;
        margin: 10px 0 25px 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 18px;
    }

.panel-progress {
}

    .panel-progress h3 {
        margin: 0;
        font-size: 18px;
        color: #000;
    }

    .panel-progress h5 {
        font-size: 12px;
        margin: 8px 0 0 0;
        color: #666;
        display: inline-block;
    }

    .panel-progress p {
        font-size: 13px;
        color: #555;
    }

.review-msg {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.review-msg p {
    margin: 0 0 5px 0;
}
.commint-title {
    position: relative;
    font-weight: 700;
    color: #555;
    font-size: 26px;
    border-left: 4px solid #555;
    line-height: 0; 
}

.copyright {
    border-top: 3px solid #3678ab;
    background-color: #fff;
    padding: 20px 0;
}

    .copyright h3 {
        color: #3678ab;
        font-weight: bold;
        letter-spacing: 5px;
    }