
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SubmissionSystem.Models.ApplicationUser> Editors = ViewBag.Editors as IEnumerable<SubmissionSystem.Models.ApplicationUser>;
    IEnumerable<SubmissionSystem.Models.ApplicationUser> Reviewers = ViewBag.Reviewers as IEnumerable<SubmissionSystem.Models.ApplicationUser>;

}

<div class="container">
    <div style="margin-top:20px;margin-bottom:40px;">
        <h1 class="main-title">Why to use MUSS ?</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="serivce">
                <i class="fa fa-fast-forward"></i>
                <h2>Fast and Reliable</h2>
                <p>
                    The system was built with the idea to fast and reliable.
                    The process of reviewing a paper takes approximelty 5 days.
                    Submission system is easy and efective.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="serivce">
                <i class="fa fa-lock"></i>
                <h2>Neturality</h2>
                <p>
                    Our system gurantee the reviewing process will be netural by 100%.
                    It gurantee the anonmitiy of the reviewer and your personal details will be hidden from the reviewer to.
                    All of this to make sure that the judgment will be on the content only

                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="serivce">
                <i class="fa fa-thumbs-up"></i>
                <h2>Quality</h2>
                <p>
                    As Mansoura university is one of the best universties in the middle east.
                    We have a team of the best professors in almost all the scientific fields.
                    Your paper will be reviewd grealy with the brightest minds in the Middle East

                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="serivce">
                <h2>Editors</h2>
                @foreach (var item in Editors)
                {
                    <span>@item.DisplayName</span>
                }
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="serivce">
                <h2>Reviewer</h2>
                @foreach (var item in Reviewers)
                {
                    <span>@item.DisplayName</span>
                }
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="serivce">
                <h2>Team</h2>

                <span>Sami Ibrahim Amer</span>
                <span>Ahmed El Domany</span>
                <span>Esraa Yehia Mosa</span>
                <span>Esraa Magdy El Agami</span>
                <span>Reem Essam EL Din </span>
                <span>Rana Etman</span>
                <span>Daila Kamel </span>
            </div>
        </div>
    </div>
</div>
