@model SubmissionSystem.Models.Category
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="category-holder">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive" src="@Model.ImgPath" alt="Alternate Text" />
                <h3>@Model.Name</h3>                                
                <h4><span>ISSN: </span>ISP-200</h4>
                <h4><span>Impact Factor: </span>1.2</h4>
                <h4><span>papers: </span>@Model.Papers.Count</h4>

                <a asp-action="Submit" asp-controller="Papers" a class="">
                    Submit your paper
                </a>
                <a asp-action="Track" asp-controller="Papers" class="">
                    Track your paper
                </a>


            </div>
            <div class="col-xs-9">
                <h2>Description</h2>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
