@model IEnumerable<SubmissionSystem.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="">
        <div class="container">
            <div class="col-xs-12">
                <div class="auth-title">
                    <h1 class="text-center">Welcome To MUSS</h1>
                    <h4 class="text-center">Here is the latest papers around </h4>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xs-12 col-md-6">
                            <div class="content auth-block">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="img-container">
                                            <img src="@item.ImgPath" class="img-responsive text-center" alt="Alternate Text" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <h1><span>ISSN: </span>ISP-200</h1>
                                        <h4>Papers: @item.Papers.Count</h4>
                                        <p><span>Impact Factor: </span>1.2</p>                                        
                                    </div>
                                    <div class="col-xs-3">
                                        <a asp-action="Category" asp-route-id="@item.Id"  class="review-btn">Review</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>
