
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div id="home-cover">
        <div class="container">
            <div class="col-xs-12">
                <h1 class="text-center">Mansoura University Submission System</h1>
                <h4 class="text-center">Use MUSS and all its features for free, forever! </h4>
                <div class="call-to-action">
                    <div class="col-xs-12">
                        <a class="btn btn-success" asp-action="Register">
                            Sign up
                        </a>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
