@model SubmissionSystem.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="register">
    <div class="container">
        <div class="text-center"><h1 class="">Login</h1></div>
        <form asp-action="Login">
            <div class="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <input asp-for="isPersistent"  style="margin-left:0px"/>
                            <label asp-for="isPersistent"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

