 @model SubmissionSystem.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="profile-info">
                    <div class="img-container">
                        <img class="img-responsive" src="@string.Format("/uploads/" + Model.User.Id + ".jpg")" />
                    </div>
                    <h2>@Model.User.DisplayName</h2>
                    <h5>@Model.User.JobTitle</h5>
                    <h5>@Model.User.WorkPlace</h5>
                </div>
            </div>
            <div class="col-xs-8">
                @{
                    foreach (var p in Model.Papers)
                    {
                        Html.RenderPartial("../Papers/_PaperView", p);
                    }
                }
            </div>
        </div>
    </div>
    <div>
     
    </div>
</div>
