@model SubmissionSystem.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="register">

    <div class="text-center"><h1 class="">Register</h1></div>

    <div class="container">

        <form asp-action="Register" enctype="multipart/form-data">
            <div class="fo#rm-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label asp-for="UserName" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="UserName" class="form-control" placeholder="Username" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DisplayName" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="DisplayName" class="form-control" placeholder="Display Name" />
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Password" class="form-control" placeholder="Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WorkPlace" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="WorkPlace" class="form-control" placeholder="WorkPlace" />
                        <span asp-validation-for="WorkPlace" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="JobTitle" class="form-control" placeholder="Job Title" />
                        <span asp-validation-for="JobTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Birthday" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Birthday" type="date" class="form-control datepicker" id="agepicker" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Image" class="col-md-12 control-label"></label>
                    <div class="col-md-12">

                        <input asp-for="Image" class="form-control" />


                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section customScript{
    <script>
        $("#agepicker").datepicker({ dateFormat: 'yy-mm-dd' });
     

    </script>
}

