@model IEnumerable<SubmissionSystem.Models.Paper>
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div>
        <div id="">
            <div class="container">
                <div class="col-xs-12">
                    <h1 class="submit-title">The result for @ViewBag.words</h1>
                    @if (Model.Count() != 0)
                    {

                        foreach (var p in Model)
                        {
                            Html.RenderPartial("../Papers/_PaperView", p);
                        }

                    }
                    else
                    {
                        <h1>There is no result</h1>

                    }

                </div>
            </div>
        </div>
    </div>
    <style>

    </style>
