@model IList<SubmissionSystem.Models.Review>
@{
    string imgPath = "/uploads/" + ViewBag.UserId + ".jpg";
}
@functions{
    public string GetTag(bool accepted)
    {
        if (accepted)
            return "<span class=\"label label-success \">Accepted</span>";
        return "<span class=\"label label-danger \">Rejected</span>";

    }
}
<div class="track-comment-list">

    <div class="row">

        @foreach (var review in Model)
            {
            <div class="">
                @if (review.IsSystemMessage)
                {

                    <p class="track-system-message">@review.Comment <a asp-action="Download" asp-controller="Papers" asp-route-id="@review.PaperId" class="pull-right"><i class="fa fa-download"></i></a> </p> 
                }
                else
                {
                    <div class="track-review">
                        <div class="row">
                            <div class="col-xs-2">
                                <img src="@imgPath" class="img-circle img-responsive" />
                            </div>
                            <div class="col-xs-10">
                                <p>
                                    @review.Comment
                                </p>
                                <h6>Status : @Html.Raw(GetTag(review.Accepted)) </h6>
                            </div>
                        </div>
                    </div>

                }

            </div>
        }
        <div class="review-form">
            <form asp-action="papers" asp-controller="Reviewers">
                <textarea name="comment" required class="form-control"></textarea>
                <button class="btn">Send</button>

                <label class="pull-right"><input type="checkbox" name="Accept" value="true" /> Accepted</label>
            </form>
        </div>
    </div>


</div>
