@model SubmissionSystem.Models.Paper
@*

*@



<div class="panel panel-default panel-progress">
    <div class="panel-heading">
        <h3>@Model.FullTilte</h3>
        <h5>@Model.SubmissionDate.ToString("yyyy-MM-dd")</h5>
    </div>
    <div class="panel-body" style="color:#000;">
        @if (Model.Description.Length > 200)
            {
            <p>
                @Model.Description.Substring(0, 200) <a asp-action="View" asp-controller="papers" asp-route-id="@Model.Id" style="color:#207cbd;"> ... See more</a>
            </p>
        }
        else
        {

        }


    </div>
    <div class="panel-footer">
        <a asp-action="Download" asp-controller="Papers" asp-route-id="@Model.Id" class="btn btn-primary btn-block">Donwload the paper</a>
        <form asp-action="Accept">
            <input asp-for="Id" type="hidden" />
            <button type="submit" class="btn btn-success btn-block" style="margin-top: 5px;">Accept</button>
        </form>
    </div>
</div>

