@model SubmissionSystem.Models.Paper


<div class="paper-block">
    <h1>@Model.FullTilte</h1>
    <h4>By @Model.User.DisplayName  - @Model.SubmissionDate.ToString("yyyy/MM/dd")</h4>
    <p>
        @if (Model.Description.Length > 400)
        {
            @Model.Description.Substring(0, 400)

            <a asp-action="View" asp-controller="Papers" asp-route-id="@Model.Id" class="see-more-btn">See More</a>
        }
        else
        {

            @Model.Description.Length
        }
    </p>
    <a asp-action="Checkout" asp-controller="Papers" asp-route-id="@Model.Id" class="download-btn pull-right">DOWNLOAD <span>@Model.DownloadCounter</span></a>

</div>