@model IEnumerable<SubmissionSystem.Models.Paper>
@{
    ViewData["Title"] = "Accept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
   <div class="row">
       <div class="col-xs-12 col-md-3">
           @{
               foreach (var paper in Model)
               {
                   Html.RenderPartial("_EditorView", paper);
               }
               if (Model == null)
               {
                   <h1>There is no papers to accept</h1>
               }
           }
       </div>
   </div>       
</div>