@model SubmissionSystem.ViewModels.DiscoveringPapersViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string ShowActiveAll(int? id, SubmissionSystem.Models.Category cat)
    {

        if (!id.HasValue && cat == null)
        {
            return "active";
        }
        return "";

    }
    public string ShowActive(int? id, SubmissionSystem.Models.Category cat)
    {

        if (id.HasValue)
        {
            if (cat != null)
            {
                if (id.Value == cat.Id)
                {
                    return "active";
                }
            }
        }
        return "";

    }

}

<div class="container search-paper">
    <div class="row">
        <div class="col-xs-4">
            <h1 class="search-title">Search by Category </h1>
            <a class="search-item @ShowActiveAll(Model.currentId,null)" asp-action="Index" asp-route-id="null">All</a>

            @foreach (var cat in Model.Categories)
            {
                <a class="search-item @ShowActive(Model.currentId,cat)" asp-action="Index" asp-route-id="@cat.Id">@cat.Name</a>
            }

        </div>
        <div class="col-xs-8">
            @foreach (var p in Model.Papers)
            {
                Html.RenderPartial("_PaperView", p);
            }
        </div>
    </div>
</div>