@model SubmissionSystem.ViewModels.PaperViewModel

@{
    ViewData["Title"] = "Submit a paper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    @*<div class="container">
            <form asp-action="Submit" enctype="multipart/form-data" style="width:770px;">
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    
                    
                    
                    
                </div>
            </form>

        </div>*@


    <h1 class="submit-title">Submit your paper</h1>
    <form asp-action="Submit" enctype="multipart/form-data">
        <div id="wizard" class="swMain">
            <ul>
                <li>
                    <a href="#step-1">
                        <label class="stepNumber">1</label>
                        <span class="stepDesc">
                            Step 1
                            <br />
                            <small>Basic Info</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                        <label class="stepNumber">2</label>
                        <span class="stepDesc">
                            Step 2<br />
                            <small>Abstraction</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                        <label class="stepNumber">3</label>
                        <span class="stepDesc">
                            Step 3<br />
                            <small>Content</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-4">
                        <label class="stepNumber">4</label>
                        <span class="stepDesc">
                            Step 4<br />
                            <small>Choose Paper</small>
                        </span>
                    </a>
                </li>
            </ul>
            <div id="step-1">
                <div class="form-group">
                    <label asp-for="SelectedCategory" class="col-md-12"></label>
                    <div class="col-md-12">
                        <select class="form-control" asp-for="SelectedCategory" asp-items="Model.Categories"></select>
                        <span asp-validation-for="SelectedCategory" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Field" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="Field" class="form-control" />
                        <span asp-validation-for="Field" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FullTilte" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="FullTilte" class="form-control" />
                        <span asp-validation-for="FullTilte" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ShortTitle" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="ShortTitle" class="form-control" />
                        <span asp-validation-for="ShortTitle" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="step-2">
                <div class="form-group">
                    <label asp-for="Abstraction" class="col-md-12"></label>
                    <div class="col-md-12">
                        <textarea asp-for="Abstraction" class="form-control" rows="10"></textarea>
                        <span asp-validation-for="Abstraction" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="step-3">
                <div class="form-group">
                    <label asp-for="Description" class="col-md-12"></label>
                    <div class="col-md-12">
                        <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="step-4">
                <div class="form-group">
                    <label asp-for="File" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End SmartWizard Content -->
    </form>

</div>

@section customScript{
    <script src="~/lib/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script>
        function onFinishCallback() {
            $('form').submit();


        }
        $('#wizard').smartWizard({
                onFinish:onFinishCallback

        });

    </script>
}