@model SubmissionSystem.ViewModels.UserTrackViewModel
@{
    ViewData["Title"] = "Track";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="holder">
            <div class="col-xs-3">
               
                @{
                    if (Model.Papers.Count != 0)
                    {
                        Html.RenderPartial("_TracknigPapers", Model.Papers);
                    }
                    else
                    {
                        <h4 class="text-center">You didn't publish any papers.</h4>
                    }

                }
            </div>
            <div class="col-xs-9">
                @if (Model.Id == 0)
                  {
                    <h1 class="text-center">Please Choose a Paper</h1>
                }
                else
                {
                    <div class="comments">
                        @await Component.InvokeAsync("LoadPaperComments", new { id = Model.Id })
                    </div>
                }
            </div>
        </div>
    </div>
</div>