@model SubmissionSystem.Models.Paper
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-xs-2">
                <img src="@Model.Category.ImgPath" alt="Alternate Text" class="img-responsive" />
                <h2 class="text-center">@Model.Category.Name</h2>
                <p class="text-center"><span>ISSN: </span>ISP-200</p>
                <p class="text-center"><span>Impact Factor: </span>1.2</p> 
            </div>
            <div class="col-xs-10">
                <div class="paper-wrap">
                    <div class="header">
                        <h1 class="paper-title">@Model.FullTilte</h1>                        
                        <h4>
                            Published at @Model.SubmissionDate.ToString("yyyy-MM-dd")
                            @if (Model.Status != "PUBLISHED")
                            {
                                <span class="badge">@Model.Status</span>
                            }
                        </h4>
                        <h4>By  @Model.User.DisplayName</h4>
                        <a asp-action="Checkout" asp-route-id="@Model.Id" class="paper-download-btn download-btn">DOWNLOAD <span>@Model.DownloadCounter</span></a>
                    </div>
                    
                    <h3>Abstraction</h3>

                    <p >@Model.Abstraction</p>
                    <h3>Description</h3>

                    <p>@Model.Description</p>
                </div>
            </div>
        </div>

    </div>
</div>


