﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mansoura University Submission System</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/themes/base/all.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/jQuery-Smart-Wizard/styles/smart_wizard.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar nav-header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-action="Index">MUSS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @await Component.InvokeAsync("MainMenu", new { Menu = "Main" })

                </ul>
                <form class="navbar-form navbar-left" asp-action="search" method="post">
                    <div class="form-group">
                        <input type="text" name="keywords" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn search-btn"><i class="fa fa-search"></i></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @await Component.InvokeAsync("MainMenu", new { Menu = "Auth" })


                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="HeightAdjust">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <h4 class="foot-title">About</h4>
                    <p>
                        MUSS (Mansoura university Submission System) is one of the best submission systems in the middle east. We are have one of the best reviewers in Egypt.
                    </p>
                </div>
                <div class="col-xs-3">
                    <h4 class="foot-title">Latest Papers</h4>
                    @await Component.InvokeAsync("LoadLastPapers")
                </div>


                <div class="col-xs-3">
                    <h4 class="foot-title">Get back to</h4>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Submit" asp-controller="Papers" class="foot-link">Submit a paper</a>
                        <a asp-action="Track" asp-controller="Papers" class="foot-link">Track your papers</a>

                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Home" class="foot-link">Login</a>
                        <a asp-action="Register" asp-controller="Home" class="foot-link">Register</a>


                    }
                    <a asp-action="About" asp-controller="Home" class="foot-link">About us</a>
                </div>
                <div class="col-xs-3">
                    <h4 class="foot-title">Chief Board</h4>
                    <p>
                        <a href="#!">Osama Ouda</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <h3>MUSS</h3>
                </div>
                <div class="col-xs-9">
                    <p>Copyright © 2017 MUSS Terms and Conditions - Privacy Policy </p>
                    <p>Cookies are used by this site. To decline or learn more, visit our Cookies page.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(".navbar-nav").find('a').each(function (num, el) {
            var html = console.log(el.innerHTML);
            $(el).html(html);

        });
    </script>
    @RenderSection("customScript", false)


</body>
</html>
