@model IList<SubmissionSystem.ViewModels.PaperTrackForUserViewModel>
@{
    ViewData["Title"] = "_TracknigPapers";
   
}
@functions{

    public string LabelGetter(string Status)
    {
        switch (Status)
        {
            case "UNDER REVIEW": return "label label-warning ";
            case "WAITING EDIT": return "label label-danger ";
            case "PUBLISHED": return "label label-success";
            default: return "label pull-right";
        }

    }
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-12">
            <a class="track-paper @((item.Selected)?"active":"")" asp-action="Papers" asp-route-paperid="@item.Id">
               <h4 class="paper-title" style="display:inline">@item.FullTitle</h4>
             
                <h6 class="paper-title" style="display:block">@item.SubmissionDate.ToString("yyyy-MM-dd")</h6>

                <div style="display:block;position:absolute; right:20px;bottom:6px;">
                    @*<h5>Status : &nbsp;</h5>*@<h6 class="@LabelGetter(item.Status)" style="display:inline;">@item.Status</h6>

                </div>

            </a>
        </div>
    }

</div>
