@model SubmissionSystem.ViewModels.ReviewerTrackViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //This page should follow the same pattern of the tracking page in the paper controller
}

<div class="container">
    <div class="row">
        <div class="holder">

            <div class="col-xs-3">
                @{
                    if (Model.Papers != null)
                    {
                        Html.RenderPartial("_TracknigPapers", Model.Papers);
                    }
                    else
                    {
                        <h4>There is no Papers</h4>
                    }

                }
            </div>
            <div class="col-xs-9">
                @if (Model.Id == 0)
            {
                    <h1 class="text-center">Please Choose a Paper</h1>
                }
                else
                {
                    @await Component.InvokeAsync("LoadPaperReviews", new { id = Model.Id })
                }
            </div>
        </div>
    </div>
</div>