@model IList<SubmissionSystem.Models.Paper>
@*
    For rendering each list in the EditorPaperListViewModel
*@

@foreach (var p in Model)
{

    <div class="panel panel-default panel-progress">
        <div class="panel-heading">
            <h3>@p.FullTilte</h3>
            <h5>@p.SubmissionDate.ToString("yyyy-MM-dd")</h5>
            <h5></h5>
        </div>
        <div class="panel-body" style="color:#000;">
            @if (p.Description.Length > 200)
            {
                <p>
                    @p.Description.Substring(0, 200) <a asp-action="View" asp-controller="papers" asp-route-id="@p.Id" style="color:#207cbd;"> ... See more</a>
                </p>
            }
            else
            {

            }


        </div>
        <div class="panel-footer">
            <a asp-action="Download" asp-controller="Papers" asp-route-id="@p.Id" class="btn btn-default btn-block">Donwload the paper</a>
            @if (p.Status == "NEW")
            {
                <a asp-action="AssignToReviewer" asp-controller="Editors" asp-route-id="@p.Id" class="btn btn-primary btn-block">Assign to Reviewer</a>
            }
            else
            {

                <a asp-action="CheckReviews" asp-controller="Editors" asp-route-id="@p.Id" class="btn btn-primary btn-block">Check Reviews</a>

            }
    
             @if (!p.Publish)
             {
                <a asp-action="Publish" asp-controller="Editors" asp-route-id="@p.Id" class="btn btn-success btn-block">Publish</a>

             }

        </div>
    </div>

}