@model IList<SubmissionSystem.Models.Review>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@functions{
    public string WriteStatus(bool accepted)
    {
        if (accepted)
            return "Accepted";
        return "Not Accepted";

    }
}
@foreach (var item in Model)
{
    <div class="review-msg">
        <p>@item.Comment</p>
        <b class="label label-danger"> @WriteStatus(item.Accepted) </b>
    </div>
}