@model SubmissionSystem.ViewModels.AssignToReviewerViewModel
@{
    ViewData["Title"] = "AssignToReviewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Assign Reviewer for Paper : @Model.PaperTitle </h2>
            <h4 class="text-center">By : @Model.UserDisplayName </h4>
        </div>
        <form asp-action="AssignToReviewer" asp-route-id="@Model.Id">
            <div class="col-xs-4">
                <h3>Choose a Level One Reviewer</h3>
                <select asp-for="UserNameOneId"  asp-items="Model.LevelOneList"  class="form-control" ></select>
            </div>
            <div class="col-xs-4">
                <h3>Choose a Level Two Reviewer</h3>
                <select asp-for="UserNameTwoId" asp-items="Model.LevelTwoList" class="form-control">></select>
            </div>
            <div class="col-xs-4">
                <h3>Choose a Level Three Reviewer</h3>
                <select asp-for="UserNameThreeId" asp-items="Model.LevelThreeList" class="form-control">></select>
            </div> 
            <div class="col-xs-12 text-center" style="margin-top:20px;">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>

            </div>
        </form>
    </div>

</div>
