@model SubmissionSystem.ViewModels.CheckReviewsViewModel
@{
    ViewData["Title"] = "CheckReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="">
        <div style="margin: 25px 0;">
            <h4 class="main-title">Check Reviews For @Model.Paper.FullTilte by @Model.Paper.User.DisplayName</h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="page-block">
                    <h2 class="text-center inner-title" style="">Level One Reviewers</h2>
                    @{Html.RenderPartial("_RenderReviews", Model.LevelOneReivews);}
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="page-block">
                    <h2 class="text-center i">Level Two Reviewers</h2>
                    @{Html.RenderPartial("_RenderReviews", Model.LevelTwoReviews);}
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="page-block">
                    <h2 class="text-center">Level Three Reviewers</h2>
                    @{Html.RenderPartial("_RenderReviews", Model.LevelThreeReviews);}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="">
            <h3 class="commint-title" style="display: block; margin: 45px 0 20px 0;">Send to the User</h3>
            <form method="post">
                <textarea class="form-control" rows="5" name="comment" style="margin-bottom: 15px;"></textarea>
                <button type="submit" class="btn btn-success">Submit</button>
                <label class="pull-right"> <input type="checkbox" name="Accept" value="true" /> Publish </label>

            </form>
        </div>
    </div>
</div>

