@model SubmissionSystem.ViewModels.EditorPaperListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .paper-title {
        position: relative;
        border-left: 2px solid #000;
        padding-left: 5px;
        display: inline;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="page-block">
                @{
                    <h2 class="text-center">New</h2>
                    await Html.RenderPartialAsync("_EditorListRender", Model.New);
                }
            </div>            
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="page-block">
                @{
                    <h2 class="text-center">Under Review</h2>
                    await Html.RenderPartialAsync("_EditorListRender", Model.UnderReview);
                }
            </div>            
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="page-block">
                @{
                    <h2 class="text-center">Waiting Edit</h2>
                    await Html.RenderPartialAsync("_EditorListRender", Model.WaitingEdit);
                }
            </div>
           
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="page-block">
                @{
                    <h2 class="text-center">Published</h2>
                    await Html.RenderPartialAsync("_EditorListRender", Model.Published);
                }
            </div>            
        </div>
    </div>


</div>