@model IList<SubmissionSystem.ViewModels.TrackCommentViewModels>

<div class="track-comment-list">
    <div class="row">

        @foreach (var comment in Model)
        {
            <div class="col-xs-12">
                <div class="track-comment">
                    <div class="col-xs-2">
                        <img src="@comment.ImgPath" class="img-circle img-responsive" />
                    </div>
                    <div class="col-xs-10">
                        <h2>@comment.Sendername</h2>
                        <p>
                            @comment.CommentText
                        </p>
                    </div>
                </div>
            </div>

        }
        @if (Model.First().PaperStatus == "WAITING EDIT")
        {
            <form enctype="multipart/form-data" asp-action="Track" method="post" class="upload">
                <input class="form-control " type="file" name="file" />
                <button class="btn btn-primary" >Upload</button>
            </form>

        }
    </div>

</div>
