@model SubmissionSystem.ViewModels.PaperViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PaperViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.SelectedCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Field)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Field)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullTilte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullTilte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Abstraction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Abstraction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
