@model SubmissionSystem.ViewModels.PaperViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>PaperViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="SelectedCategory" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SelectedCategory" asp-items="Model.Categories"></select>
                <span asp-validation-for="SelectedCategory" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SelectedEditor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SelectedEditor" asp-items="Model.Editors"></select>
                <span asp-validation-for="SelectedEditor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Field" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Field" class="form-control" />
                <span asp-validation-for="Field" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullTilte" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullTilte" class="form-control" />
                <span asp-validation-for="FullTilte" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortTitle" class="form-control" />
                <span asp-validation-for="ShortTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Abstraction" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Abstraction" class="form-control"></textarea>
                <span asp-validation-for="Abstraction" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

