@model IEnumerable<SubmissionSystem.ViewModels.LinkViewModel>

@foreach (var item in Model)
{
    @*<li>  @Html.ActionLink(item.Text, item.Action, item.Controller, item.Route, item.HtmlAttributes)</li>*@
    <li><a id="@item.HtmlId" class="@item.HtmlClass" href="@Url.Action(item.Action,item.Controller,item.Route)">@Html.Raw(item.Text)</a></li>
}